@import "./variable.scss";
@import "./mixin.scss";

/*文字*/

//文字尺寸
.fs-10 {font-size: $fs-10;}
.fs-11 {font-size: $fs-11;}
.fs-12 {font-size: $fs-12;}
.fs-13 {font-size: $fs-13;}
.fs-14 {font-size: $fs-14;}
.fs-15 {font-size: $fs-15;}
.fs-16 {font-size: $fs-16;}
.fs-17 {font-size: $fs-17;}
.fs-18 {font-size: $fs-18;}
.fs-19 {font-size: $fs-19;}
.fs-20 {font-size: $fs-20;}
.fs-21 {font-size: $fs-21;}
.fs-22 {font-size: $fs-22;}
//文字加粗
.f-bold{font-weight: bold}
//对齐
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
// 单行文本省略号...
.ellipsis-single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 强制换行
.text-wrap {
    /* 只对英文起作用，以字母作为换行依据。 */
    word-break: break-all;
    /* 只对英文起作用，以单词作为换行依据。*/
    word-wrap: break-word;
    /* 只对中文起作用，强制换行。*/
    white-space: pre-wrap;
}
// 强制不换行
.text-nowrap {
    word-break: normal;
    word-wrap:normal;
    white-space: nowrap;
}

//文字颜色
.fc-red {color: #ED6347;}
.fc-redHyaline {color: #FF8D8D;}
.fc-blue {color: #009cff;}
.fc-black {color: #333;}
.fc-white {color: #fff;}
.fc-success {color: #4EC66B;}
.fc-warn {color: #EB9E08;}
.fc-fail {color: #F56A00;}
.fc-6{color: #666}
.fc-9{color: #999}
.fc-owe{color: #FF5B5B;}
.fc-has{color:#FF7A66;}
.fc-war{color: #FF9A33;}
.fc-f6a{color: #F6AA2B;}
.fc-add{color: #64D0C5;}
.fc-b30{color: #E67B30;}
.fc-22d{color: #F5222D;}
.fc-b36{color: #212B36;}
.fc-main {color: #3574F7;}
.fc-pure-black {color: #000;}
.fc-basic {color: $main-basic}

// 背景颜色
.bg-y {
    background: $main-yellow;
}
/*内边距*/
.pad-10 { padding: 10px;}
.pad-15 {padding: 15px;}
.pad-20 {padding: 20px;}
.pad-x-10 {padding: 0 10px;}    
.pad-x-15 { padding: 0 15px;}
.pad-x-20 {padding: 0 20px;}
.pad-y-10 {padding: 10px 0;}
.pad-y-15 {padding: 15px 0;}
.pad-y-20 {padding: 20px 0;}
.pad-left-10 {padding-left: 10px;}
.pad-left-15 {padding-left: 10px;}
.pad-left-20 {padding-left: 20px;}
.pad-right-10 {padding-right: 10px;}
.pad-right-15 {padding-right: 10px;}
.pad-right-20 {padding-right: 20px;}
.pad-top-10 {padding-top: 10px;}
.pad-top-15 {padding-top: 10px;}
.pad-top-20 {padding-top: 20px;}
.pad-top-30 {padding-top: 30px;}
.pad-bottom-10 {padding-bottom: 10px;}
.pad-bottom-15 {padding-bottom: 10px;}
.pad-bottom-20 {padding-bottom: 20px;}

/*外边距*/
.mg-0 { margin: 0;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 0;}
.mg-10 { margin: 10px;}
.mg-15 {margin: 15px;}
.mg-20 {margin: 20px;}
.mg-x-10 {margin: 0 10px;}
.mg-x-15 { margin: 0 15px;}
.mg-x-20 {margin: 0 20px;}
.mg-y-10 {margin: 10px 0;}
.mg-y-15 {margin: 15px 0;}
.mg-y-20 {margin: 20px 0;}
.mg-left-5 {margin-left: 5px;}
.mg-left-10 {margin-left: 10px;}
.mg-left-15 {margin-left: 10px;}
.mg-left-20 {margin-left: 20px;}
.mg-right-2 {margin-right: 2px;}
.mg-right-5 {margin-right: 5px;}
.mg-right-10 {margin-right: 10px;}
.mg-right-15 {margin-right: 10px;}
.mg-right-20 {margin-right: 20px;}
.mg-top-1 {margin-top: 1px;}
.mg-top-3 {margin-top: 3px;}
.mg-top-5 {margin-top: 5px;}
.mg-top-10 {margin-top: 10px;}
.mg-top-15 {margin-top: 10px;}
.mg-top-20 {margin-top: 20px;}
.mg-top-30 {margin-top: 30px;}
.mg-bottom-10 {margin-bottom: 10px;}
.mg-bottom-15 {margin-bottom: 10px;}
.mg-bottom-20 {margin-bottom: 20px;}

/*布局*/

// 显示隐藏
.inline-block {display: inline-block;}
.show{display: block;}
.hide{display: none;}
//浮动
.pull-left {float: left;}
.pull-right {float: right;}
//清除浮动
.fn-clear {zoom: 1; clear: both;}
.fn-clear:after {
    content: " ";
    display: block;
    visibility: hidden;
    font-size: 0;
    clear: both;
    height: 0;
}
// 行元素垂直对齐方式
.media-middle {vertical-align: middle;}
.media-top {vertical-align: top;}
.media-bottom {vertical-align: bottom;}
.media-baseline {vertical-align: baseline;}
//父盒子一般高
.half {
    display: inline-block;
    width: 0;
    height: 50%;
}

//字体图标
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.07em;
   fill: currentColor;
   overflow: hidden;
}
// 纯色图标样式
.pureicon {
    font-size: inherit;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    overflow: hidden;
}

//盒子阴影
.shadow{
    box-shadow:0px 1px 18px 0px rgba(74,144,226,0.3);
}

.custom-padd-0 {
    &.van-cell {
        padding: 0;
    }
}

.custom-padd-parent-0 {
    .van-cell {
        padding: 0;
    }
}

.custom-padd-parent-l-r-0 {
    .van-cell {
        padding-left: 0;
        padding-right: 0;
    }
}

.custom-padd-l-r-0 {
    &.van-cell {
        padding-left: 0;
        padding-right: 0;
    }
}
.custom-padd-0 {
    &.van-cell {
        padding-left: 0;
        padding-right: 0;
    }
}
.custom-padd-parent-t-b-0 {
    &.van-cell {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.flex-wrap {
    display: flex;
}
.flex-wrap-center {
    align-items: center;
}
.flex-wrap-between-center {
    justify-content: space-between;;
    align-items: center;
}
.flex-item-1 {
    flex: 1;
}

.bd-1px {
    position: relative;
    &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #ebedf0;
        transform: scaleY(.5);
        }
}

